.footer__column-link  {
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
}

.footer__column-link:hover{
	transition: ease-in 0.6s;
	opacity: 0.6;
}
